
.weather-card{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    font-size: 25px;
    align-items: center;
    border-radius: 20px;
    border: none;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
    .weather-card__cityname {
        font-size: 20px;
        text-align: center;
    }

    .weather-card__temp {
        font-size: 50px;
        text-align: center;
    }

    .weather-card__condition-temp {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 15px;

        .high {
            font-size: 20px;
        }

        .low {
            font-size: 20px;
        }
    }

    .weather-card__card-bottom {
        display: flex;
        justify-content: space-evenly;
        gap: 60px;
        margin-top: 20px;

        .feels-like {
            text-align: center;
        }

        .humidity {
            text-align: center;
        }
    }

    .created {
        font-size: 15px;
    }



}